<!-- COMP 229 Assignment 1
Student Name: Samuel Leung
Student Number: 301247397
Due date: October 4, 2023 -->


<footer>
    <hr style="border-style: solid; border-color: gold; border-width: 2px; width: 980px;">
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <h6 class="display-6 navbar-text">&copy;&nbsp;&nbsp; Copyright Samuel Leung - Assignment 1 - COMP 229</h6>
    </nav>
</footer>
