<!-- COMP 229 Assignment 1
Student Name: Samuel Leung
Student Number: 301247397
Due date: October 4, 2023 -->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container" style="width: 980px; margin-left: auto; margin-right: auto;">
  <div class="jumbotron">
    <h1 class="display-4" style="text-align: center;font-size: 30pt; color: #73646A; font-family: Arial, Helvetica, sans-serif;">ABOUT ME</h1>
    <p id="mission" style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 16pt; text-align: center;">Hi there!<br><br>
      My name is Samuel Leung and I am currently a Software Engineering Technology student in my 3rd semester at Centennial College. I am a highly motivated individual who likes tackling new challenges and solving puzzles. I work well in stressful environments and can quickly adapt to any circumstance. </p>
    </div>
    <img src="/img/headshot.jpg" alt="headshot" style="width: 980px; display: block; margin-left: auto; margin-right: auto; padding-bottom: 15px;">
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
