<!-- COMP 229 Assignment 1
Student Name: Samuel Leung
Student Number: 301247397
Due date: October 4, 2023 -->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container" style="width: 980px; margin-left: auto; margin-right: auto;">
  <div class="jumbotron">
    <h1 class="display-4" style="text-align: center;font-size: 30pt; color: #73646A; font-family: Arial, Helvetica, sans-serif;">Welcome to my Website!</h1>
    <p id="mission" style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 16pt; text-align: center;">During my time here at Centennial, I hope to actively engage in my education, pursue excellence, and develop skills that will help me succeed.</p>
    </div>
    <img src="/img/intro.jpg" alt="welcome picture" style="width: 980px;display: block; margin-left: auto; margin-right: auto; padding-bottom: 15px;">
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
